---
import { Image } from "astro:assets";
import srcPathImage from "../assets/img/movil.png";
import srcPathImagep from "../assets/img/pweb.webp";
import srcPathImagepsolu from "../assets/img/solu.png";

---

<style>
  .container {
    text-align: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }
  h2 {
    color: #333;
    font-size: 2.5rem; 
    
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 10px 0;
    padding: 25px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
  }
  li img {
    width: 200px;
    height: 150px;
    margin-right: 10px;
  }
  @media (max-width: 768px) {
    .container {
      padding: 10px;
      padding-top: 80px;
    }
    h2 {
      font-size: 1.7rem;
    }
    li{
      font-size: 1.2rem;
    
    }
  }
</style>
<div class="container" id="servicios">
  <h2>Servicios que ofrecemos</h2>
  <ul>
    <li>
      <!-- <img src="./public/images/movil.png" alt="movil" /> -->
      <Image src={srcPathImage} alt="movil"/>
      Desarrollo de aplicaciones móviles
    </li>
    <li>
      <!-- <img src="./public/images/pweb.webp" alt="web" /> -->
       <Image src={srcPathImagep} alt="web"/>
      Páginas web
    </li>
    <li>
      <!-- <img src="./public/images/solu.png" alt="seo" /> -->
      <Image src={srcPathImagepsolu} alt="seo"/>
      Soluciones informáticas
    </li>
  </ul>
</div>
